<article class="create-form" ng-controller="EditController">
	<div class="inner">
		<h2>Edit post</h2>
		<form>
			<div class="form-group">
				<label for="heading">Heading</label>
				<input type="text" placeholder="heading" id="heading" ng-model="post.heading" class="form-control" value="{{post.heading}}" required />
			</div>

			<div class="form-group">
				<label for="body">Body</label>
				<textarea placeholder="body" id="body" ng-model="post.body" class="form-control" rows="3" required>{{post.body}}</textarea>
			</div>
			
			<input type="submit" value="Create" class="btn btn-primary" ng-click="update(post)" />
		</form>
	</div>
</article>